{% for alert in alerts.getAlerts() %}        
    <div class="alert alert-{{ alert.getType() }}" role="alert">{% if alert.icon != null %}<span class="glyphicon glyphicon-{{ alert.icon }}"></span>&nbsp;&nbsp;{% endif %}{{ alert.getMessage() }}</div>
{% endfor %}