{% extends "backend_content_base.html.twig" %}

{% block backend_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="widget-entity-grid grid widget-entity-grid-master">
                {{
                    render(
                        app.url('widget_grid', {'className': className1} )
                    )
                }}
            </div>
        </div>
        {% if associationClass is defined %}
            {% set cls = 'association-class' %}
            {% set route = 'widget_grid_association' %}
            {% set params = {'className': className2, 'parentClass': className1, 'property': property, 'parentId': parentId} %}
        {% else%}
            {% set cls = 'association' %}
            {% set route = 'widget_grid_filter' %}
            {% set params = {'className': className2, 'filter': filter, 'filterParam': filterParam, 'filterValue': filterValue} %}
        {% endif %}
        <div class="col-md-4 entity-{{cls}}">
            <div class="widget-entity-grid widget-entity-grid-choose">
                {{
                    render(
                        app.url('widget_grid', {'className': className2} )
                    )
                }}
            </div>
            {% if grid_menu1 != null %}
                {% include 'widget_entity_grid_menu.html.twig' with {'menu': grid_menu1 } %}
            {% endif %}
        </div>
        <div class="col-md-4 entity-{{cls}}">
            <div class="widget-entity-grid widget-entity-grid-slave">
                {{
                    render(
                        app.url(route, params )
                    )
                }}
            </div>
            {% if grid_menu2 != null %}
                {% include 'widget_entity_grid_menu.html.twig' with {'menu': grid_menu2 } %}
            {% endif %}
        </div>
    </div>    
{% endblock %}