{% extends "backend_content_base.html.twig" %}

{% block backend_content %}
    <div class="row">
        <div class="entity-edit-wrap col-md-4">
            <div class="widget-entity-form">
                {{
                    render(
                        app.url('widget_form', {'className': className} )
                    )
                }}
            </div>
        </div>
        <div class="col-md-8 entity-editor">
            <div class="widget-entity-grid">
                {{
                    render(
                        app.url('widget_grid', {'className': className} )
                    )
                }}
            </div>
            {% if grid_menu != null %}
                {% include 'widget_entity_grid_menu.html.twig' with {'menu': grid_menu } %}
            {% endif %}
        </div>        
    </div>    
{% endblock %}