<style type="text/css">
    /* backend.css */
    /*
     * Base structure
     */

    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 50px;
    }
    
    #sidebar {
        margin-top: 20px;
    }

    .entity-edit input {
        margin-bottom: 20px;
    }
    
    .entity-edit-wrap h3 {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    .widget-entity-grid {
        margin-bottom: 10px;
        overflow: auto;
    }
        
    .table-hover {
        cursor: pointer;
    }
    
    input[type=file] {
        display: block;
        width: 100%;
        height: 38px;
    }
    
    .file-preview {
        margin-bottom: 20px;
    }
    
    .entity-editor {
        margin-bottom: 20px;
    }
    
    .entity-association-class {
        margin-bottom: 20px;
    }
    
    .widget-entity-form {
        margin-bottom: 20px;
    }
    
    .modal-body-busy {
        background-image: url('{{ app['asset.path.spinner'] }}');
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .new-password #form_password {
        margin-bottom: 20px;
    }
    
    /*
     * Global add-ons
     */

    /*.sub-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }*/

    /*
     * Top navigation
     * Hide default border to remove 1px line.
     */
    /*.navbar-fixed-top {
      border: 0;
    }*/

    /*
     * Sidebar
     */

    /* Hide for mobile, show later */
    /*.sidebar {
      display: none;
    }*/
    @media (min-width: 768px) {
        #sidebar {
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
            border-right: 1px solid #eee;
        }
        #sidebar ul {
            padding-bottom: 20px;
        }
        #sidebar h3 {
            margin-top: 0px;
        }
    }

    /*
     * Main content
     */

    .main {
      padding: 20px;
    }
    @media (min-width: 768px) {
      .main {
        padding-right: 40px;
        padding-left: 40px;
      }
    }
    .main .page-header {
      margin-top: 0;
    }


    /*
     * Placeholder dashboard ideas
     */

    /*.placeholders {
      margin-bottom: 30px;
      text-align: center;
    }
    .placeholders h4 {
      margin-bottom: 0;
    }
    .placeholder {
      margin-bottom: 20px;
    }
    .placeholder img {
      display: inline-block;
      border-radius: 50%;
    }*/
</style>