{% extends "backend_content_base.html.twig" %}

{% block backend_content %}
    <div class="row">
        <div class="entity-edit-wrap col-md-4">            
            <div class="widget-entity-form">
                {{
                    render(
                        app.url('widget_form', {'className': className1} )
                    )
                }}
            </div>
        </div>
        <div class="col-md-4 entity-editor">
            <div class="widget-entity-grid widget-entity-grid-master">
                {{
                    render(
                        app.url('widget_grid', {'className': className1} )
                    )
                }}
            </div>
            {% if grid_menu1 != null %}
                {% include 'widget_entity_grid_menu.html.twig' with {'menu': grid_menu1 } %}
            {% endif %}
        </div>
        <div class="col-md-4 entity-editor">
            <div class="widget-entity-grid widget-entity-grid-slave" data-filter-prop="{{ filterProp }}">
                {{
                    render(
                        app.url('widget_grid_filter', {'className': className2, 'orderBy': orderBy, 'filter': filter, 'filterParam': filterParam, 'filterValue': filterValue} )
                    )
                }}
            </div>
            {% if grid_menu2 != null %}
                {% include 'widget_entity_grid_menu.html.twig' with {'menu': grid_menu2 } %}
            {% endif %}
        </div>        
    </div>    
{% endblock %}