{% extends "base.html.twig" %}

{% block body %}
    
    {% block nav %}
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                {% block logo %}
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ app.path('backend') }}">{{ app.name }}</a>
                    </div>                    
                {% endblock %}
                {% block nav_item_wrap %}
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% block nav_item  %}
                                {% set menu = app["navigation.domain"].getChild(0) %}
                                {% include 'nav_tool_dropdown_layout.html.twig' with {menu: menu, captionByActiveChild: true} %}
                            {% endblock %}
                            {% block user %}
                                {% block user_language %}
                                    {% set menu = app["navigation.language"].getChild(0) %}
                                    {% include 'nav_tool_dropdown_layout.html.twig' with {menu: menu, captionByActiveChild: true} %}
                                {% endblock %}
                                {% block user_menu %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ app.user.getUsername() }} <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="javascript:Triangl.backend.showModalWindow( $('#modalDialogSmall'), 'Change Password', '{{ app.url('backend_set_password', {id: app['security.user.instance'].getId()}) }}' )">Change Password</a></li>
                                            <li><a href="{{ app.path('admin_logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Sign out</a></li>
                                        </ul>
                                    </li>
                                {% endblock %}
                            {% endblock %}
                        </ul>
                        {% block search %}
                            <!--form class="navbar-form navbar-right">
                                <input class="form-control" placeholder="Search..." type="text">
                            </form-->
                        {% endblock%}
                    </div>
                {% endblock %}                
            </div>
        </div>
    {% endblock %}
    
    {% block content_wrap %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 nav-remote" id="sidebar" remote_sel="#content">
                    {% block sidebar %}
                        {% for menu in app["navigation.backend"].getChildren() %}
                            {% include 'nav_pills_layout.html.twig' with {menu: menu, captionByActiveChild: true} %}
                        {% endfor %}
                    {% endblock %}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="content">
                    {% block content %}
                        {{
                            render(
                                app.url( app["navigation.backend"].getActiveChild().getRoute() )
                            )
                        }}                                              
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock%}
    
{% endblock %}

{% block extra %}
    <div class="modal fade" id="modalDialogSmall" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalLabelSmall"></h4>
                </div>
                <div class="modal-body modal-body-busy"> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}