{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <form class="form-signin" action="{{ app.path('admin_authenticate') }}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            {% if error %}
                <div class="alert alert-dismissable alert-danger">                
                    <h4>Error</h4>
                    <p>{{ error }}</p>
                </div>
            {% endif %}
            {{ form_widget(login) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Sign in</button>
        </form>
    </div>
{% endblock %}