{% if alerts != null and alerts.getCount() > 0 %}
    {% include 'alerts.html.twig' with {alerts: alerts} %}    
{% endif %}
<form class="new-password" action="{{ action }}" method="post">    
    {{ form_widget(new_password) }}
</form>