<h3>{{ title }}</h3>
{% if alerts != null and alerts.getCount() > 0 %}
    {% include 'alerts.html.twig' with {alerts: alerts} %}    
{% endif %}
<form class="entity-edit" action="{{ action }}" method="{{ method }}" data-entity="{{ className }}">    
    {{ form_widget(form) }}
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;
            Save
        </button>                    
        <button type="reset" class="btn btn-info">
            Reset
        </button>
        {% if method == 'post' and id == null %}
        {% else %}
            <button type="button" class="btn btn-warning btn-remove">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;
                Remove
            </button>
        {% endif %}
    </div>
</form>