{% for menu_group in menu.getChildren() %}
    <div class="btn-group">
        {% for item in menu_group.getChildren() %}
            <button type="button" {% if item.getRoute() != null %}data-url="{{ app.url( item.getRoute(), item.getArgs() ) }}"{% endif %} class="btn btn-{{ item.getData("btn-type") }} {% include "attr.class.html.twig" with {classes: item.getClasses()} %}">
                {% if item.getIcon() != null %}<span class="glyphicon glyphicon-{{ item.getIcon() }}"></span>&nbsp;&nbsp;{% endif %}
                {{ item.getCaption() }}
            </button>
        {% endfor %}
    </div>
{% endfor %}